
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js" lang="en">

@await Component.InvokeAsync("_HeadPartial")

<body id="top">

    @await Component.InvokeAsync("_NavbarPartial")

    @await Component.InvokeAsync("_FeaturePartial")

    @await Component.InvokeAsync("_AboutPartial")

    @await Component.InvokeAsync("_TestimonialPartial")

    @await Component.InvokeAsync("_PortfolioPartial")

    @await Component.InvokeAsync("_ContactPartial")

    @await Component.InvokeAsync("_FooterPartial")

    @await Component.InvokeAsync("_ScriptsPartial")

</body>

</html>
