
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
@await Component.InvokeAsync("_LayoutHeadPartial")
<body>
	<div class="wrapper">
		@await Component.InvokeAsync("_LayoutNavbarPartial")
		@await Component.InvokeAsync("_LayoutSidebarPartial")
		@RenderBody()
	</div>
</body>
@await Component.InvokeAsync("_LayoutScriptsPartial")
</html>
